.sec-acadamic-support-inner {
  width: rem-calc(68);
  height: rem-calc(68);
  background-color: var(--casc-blue-darker);
  border-radius: rem-calc(50);
  img {
    width: rem-calc(40);
    height: rem-calc(40);
  }
}
