.cascadia-careers-wrap {
}

.careers-block {
    background: rgba(239, 251, 254, 0.5);
    border-radius: rem-calc(15);
    padding: rem-calc(60 80);
    color: var(--casc-gray-darker);
    @include media-breakpoint-down(md) {
        padding: rem-calc(40 22);
    }

    .row {
        @include media-breakpoint-down(md) {
            row-gap: rem-calc(30);
        }
        > .col-12 {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn {
                margin-top: auto;
            }
        }
    }

    h4 {
        line-height: rem-calc(40);
        @include media-breakpoint-down(md) {
            font-size: rem-calc(24) !important;
            line-height: rem-calc(31);
            margin-bottom: rem-calc(12) !important;
        }
    }
}

.legend {
    position: relative;
    display: inline-block;
    color: var(--casc-gray-1);
    font-size: var(--fz-20) !important;
    font-family: var(--heading-font-family);
    font-weight: $semibold !important;
    margin-bottom: rem-calc(24);
    line-height: rem-calc(28);
    @include media-breakpoint-down(md) {
        margin-bottom: rem-calc(16);
    }
}