.cascadia-degree {
  background: var(--casc-cyan-light-1);
  > .tab-pane {
    display: none;
    &.active {
      display: block;
    }
    .subhead-line-bottom-left::after {
      content: "";
      background: var(--casc-blue-light);
      position: absolute;
      left: rem-calc(10)!important;
      bottom: rem-calc(10)!important;
      width: 80px;
      height: 8px;
  }
  .content_area {
    
      max-height: rem-calc(150);
      overflow: hidden;
      transition: max-height 0.5s ease;
    
  }
  .show-content {
    max-height: none;
  }
  .read-more {
    display: none;
    text-decoration: none;
    border-bottom: 2px solid var(--casc-orange-1);
    color: var(--casc-orange-1);
    text-transform: uppercase;
    margin-top: rem-calc(24);
    cursor: pointer;
  }
  .resources-link{
    display: inline-block;
    color: var(--casc-white);
    margin-bottom: rem-clac(48);
    text-decoration-color: var(--casc-sky-blue);
    margin-top: 20px;
    line-height: rem-calc(32);
  }
  }
  p {
    font-family: var(--heading-font-family);
    font-size: rem-calc(16);
    //
    line-height: rem-calc(26);
    &.first {
      font-weight: $semibold;
      font-size: rem-calc(20);
      line-height: rem-calc(28);
      @include media-breakpoint-up(md) {
        min-height: 140px;
      }
    }
  }
  h5 {
    font-family: var(--body-font-family) !important;
    font-size: rem-calc(24) !important;
    line-height: rem-calc(32) !important;
    margin-top: rem-calc(10) !important;
    margin-bottom: rem-calc(40) !important;
    @include media-breakpoint-down(md) {
      margin-bottom: rem-calc(24) !important;
    }
  }
  .degrees-box {
    background: var(--casc-white);
    padding-top: rem-calc(32);
    padding-bottom: rem-calc(32);
    padding-left: rem-calc(16);
    border-radius: rem-calc(20);
    @include media-breakpoint-down(md) {
      padding-left: rem-calc(20);
    }
    > .row:not(:last-child) {
      margin-bottom: rem-calc(36);
    }
    .col-4 {
      padding-left: rem-calc(40);
    }
    .col-8 {
      padding-right: rem-calc(40);
    }
    .degree {
      width: 100%;
      padding: rem-calc(16);
      background: var(--casc-cyan-light-1);
      border: 2px solid var(--casc-blue-light);
      border-radius: 0 rem-calc(20) 0 rem-calc(20);
      font-family: var(--heading-font-family);
      font-weight: $semibold;
      font-size: rem-calc(20);
      line-height: rem-calc(28);
      text-align: center;
    }
    p {
      margin-bottom: 0 !important;
    }
  }
  .profile-card {
    margin-top: rem-calc(48);
    h6 {
      font-family: var(--heading-font-family) !important;
      font-weight: $semibold !important;
      font-size: rem-calc(20);
      line-height: rem-calc(28);
    }
    a {
      margin-top: rem-calc(24);
      display: block;
      text-decoration: none;
      font-family: var(--body-font-family) !important;
      font-weight: $semibold !important;
      color: var(--casc-blue-dark);
      font-size: rem-calc(18);
      line-height: rem-calc(32);
      span {
        transition: all 0.3s ease;
        margin-left: rem-calc(8);
        border-bottom: 2px solid var(--casc-sky-blue);
      }
      &:hover {
        span {
          border-bottom-color: var(--casc-orange-1);
        }
      }
    }
  }
  .program-card {
    background: var(--casc-white);
    height: 100%;
    .content {
      padding: rem-calc(24);
      h6 {
        font-family: var(--heading-font-family) !important;
        font-weight: $semibold !important;
        font-size: rem-calc(20);
        line-height: rem-calc(28);
        margin-bottom: rem-calc(24) !important;
        border-bottom: 2px solid var(--casc-sky-blue);
        display: inline-block;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
.cascadia-tab-header {
  .row {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      justify-content: space-between;
      overflow-x: auto;
    }
    div {
      width: 25%;
      border-bottom: 1px solid var(--casc-blue-light-1);
      margin-top: rem-calc(10);

      @include media-breakpoint-down(md) {
        width: auto;
      }
      img {
        margin-bottom: rem-calc(10);
      }
    }
  }
  > div {
    &:first-child {
      border-bottom: 1px solid var(--casc-blue-light-1);
    }
    .tab-button {
      background: transparent;
      font-family: var(--body-font-family);
      font-weight: $semibold;
      font-size: rem-calc(16);
      line-height: rem-calc(26);
      border-bottom: 7px solid transparent;
      width: 100%;
      transition: all 0.3s ease;
      opacity: 0.5;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: var(--casc-gray-1) !important;
        transition: all 0.3s ease;
      }
      svg {
        display: block;
        margin: 0 auto rem-calc(12);
        path {
          transition: all 0.3s ease;
          stroke: var(--casc-gray-1);
        }
        g {
          rect {
            transition: all 0.3s ease;
            fill: var(--casc-gray-1);
          }
        }
      }
      &.active {
        opacity: 1;
        span {
          color: var(--casc-gray-darker) !important;
        }
        border-bottom-color: var(--casc-blue-light);
        svg {
          path {
            stroke: var(--casc-blue-light);
          }
          g {
            rect {
              fill: var(--casc-blue-light);
            }
          }
        }
      }
    }
    .tab-button-2 {
      background: none;
      font-family: var(--body-font-family);
      font-weight: $semibold;
      font-size: rem-calc(16);
      line-height: rem-calc(26);
      border-bottom: 7px solid transparent;
      width: 100%;
      transition: all 0.3s ease;
      opacity: 0.5;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: var(--casc-white) !important;
        transition: all 0.3s ease;
      }
      svg {
        display: block;
        margin: 0 auto rem-calc(12);
        path {
          transition: all 0.3s ease;
          stroke: var(--casc-gray-1);
        }
        g {
          rect {
            transition: all 0.3s ease;
            fill: var(--casc-gray-1);
          }
        }
      }
      &.active {
        opacity: 1;
        span {
          color: var(--casc-white) !important;
        }
        border-bottom-color: var(--casc-sky-blue);
        svg {
          path {
            stroke: var(--casc-sky-blue);
          }
          g {
            rect {
              fill: var(--casc-sky-blue);
            }
          }
        }
      }
    }
  }
}

.profile-card {
  margin-top: rem-calc(48);
  h6 {
    font-family: var(--heading-font-family) !important;
    font-weight: $semibold !important;
    font-size: rem-calc(20);
    line-height: rem-calc(28);
  }
  a {
    margin-top: rem-calc(24);
    display: block;
    text-decoration: none;
    font-family: var(--body-font-family) !important;
    font-weight: $semibold !important;
    color: var(--casc-blue-dark);
    font-size: rem-calc(18);
    line-height: rem-calc(32);
    span {
      transition: all 0.3s ease;
      margin-left: rem-calc(8);
      border-bottom: 2px solid var(--casc-sky-blue);
    }
    &:hover {
      span {
        border-bottom-color: var(--casc-orange-1);
      }
    }
  }
}

// Cascadia Pathways Styles
.cascadia-pathways {
  .tab-content {
    & > .tab-pane {
      padding: rem-calc(40 0 72) !important;
      @include media-breakpoint-down(md) {
        padding: rem-calc(10 0 40) !important;
      }
    }
    .cascadia-pathways-heading::after {
      content: "";
      background: var(--casc-purple);
      position: absolute;
      width: 80px;
      height: 8px;
      margin-top: rem-calc(72);
      @include media-breakpoint-down(md) {
        margin-top: rem-calc(100);
      }
    }
    h5 {
      margin-top: rem-calc(30);
      margin-bottom: rem-calc(15);
    }
    a {
      transition: all 0.3s ease;
      border-bottom: 2px solid var(--casc-sky-blue);
      text-decoration: none;
      font-weight: 600;
      color: var(--casc-blue-dark);
      padding-bottom: rem-calc(2);
      &:hover {
        border-bottom-color: var(--casc-orange-dark);
      }
    }
  }
  .nav-tabs {
    border-bottom: none;
    display: flex;
    @include media-breakpoint-down(md) {
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: auto;
    }
  }
  .nav-item {
    flex: auto;
    text-align: center;
    .nav-link {
      color: rgba(64, 64, 65, 0.5);
      border: none;
      border-bottom: 4px solid var(--casc-white);
      &:hover,
      &.active {
        color: var(--casc-blue-dark);
        border: none;
        border-bottom: 4px solid var(--casc-blue-dark);
      }
    }
  }
  .cascadia-pathways-content {
    background: var(--casc-cyan-light-1);   
  }
}
.fade:not(.show) {
  display: none;
}
